doctype html
html(lang='pt')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
    link(href='styles/main.css', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css')

    style.
      .logo { height: calc(100vh - 110px); }

  body#sfcss
    .container
      header
        div
          img(src="assets/img/fractais-02.svg").demo-img
        div
          h1.demo-title fenster
      main
        .demo
          .js-fenster-toolbar.Fenster-toolbar
              .Fenster-toolbar-url.js-click(data-url="/h1.html") Página 00
              .Fenster-toolbar-url.js-click(data-url="/pag1.html") Página 01
              .Fenster-toolbar-url.js-click(data-url="/pag2.html") Página 02
              .Fenster-toolbar-clear.js-click(data-url="") Clear
          .Fenster(data-url="/pag1.html")
          .Fenster(data-url="/pag1.html")
      footer



    script(src='jquery/dist/jquery.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')

    script(src='scripts/design.fenster.min.js')
